button#favorite {
    background: transparent;
    border: 0;
}
button#favorite span {
    padding: 20px;
    font-size: 70px;
    font-weight: normal;
    color: #CCC;
    position: relative;
}
button#favorite span span {
    position: absolute !important;
    top: 0;
    left: 0;
    font-size: 70px;
}
button#favorite.faved span {
    -webkit-animation: favorite 0.5s;
    animation: favorite 0.5s;
    color: #FFAC33;
}
button#favorite.faved span span {
    z-index: 1000;
    -webkit-animation: favoriteHollow 0.5s;
    animation: favoriteHollow 0.5s;
}
.favorite  {
    transform: scale(1);
}
.favorite  {
    transform: scale(1.2);
    color: #FFAC33;
}
.favorite  {
    transform: scale(1.4);
    color: #FFAC33;
}
.favorite  {
    transform: scale(1);
    color: #FFAC33;
}
.favoriteHollow  {
    transform: scale(1);
    opacity: 1;
}
.favoriteHollow  {
    transform: scale(1.4);
    opacity: 0.5;
}
.favoriteHollow  {
    transform: scale(1.6);
    opacity: 0.25;
}
.favoriteHollow  {
    transform: scale(2);
    opacity: 0;
    display: none;
}
@keyframes favorite {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
        color: #FFAC33;
    }
    50% {
        transform: scale(1.4);
        color: #FFAC33;
    }
    100% {
        transform: scale(1);
        color: #FFAC33;
    }
}
@-webkit-keyframes favorite {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
        color: #FFAC33;
    }
    50% {
        transform: scale(1.4);
        color: #FFAC33;
    }
    100% {
        transform: scale(1);
        color: #FFAC33;
    }
}
@keyframes favoriteHollow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(1.4);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.6);
        opacity: 0.25;
    }
    100% {
        transform: scale(2);
        opacity: 0;
        display: none;
    }
}
@-webkit-keyframes favoriteHollow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(1.4);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.6);
        opacity: 0.25;
    }
    100% {
        transform: scale(2);
        opacity: 0;
        display: none;
    }
}
button#heart {
    background: transparent;
    border: 0;
}
button#heart span {
    padding: 20px;
    font-size: 20px;
    font-weight: normal;
    color: #CCC;
    position: relative;
}
button#heart span span {
    position: absolute !important;
    top: 0;
    left: 0;
    font-size: 20px;
}
button#heart.faved span {
    -webkit-animation: heart 0.5s;
    animation: heart 0.5s;
    color: #E86C6C;
}
button#heart.faved span span {
    z-index: 1000;
    -webkit-animation: heartHollow 0.5s;
    animation: heartHollow 0.5s;
}
.heart {
    transform: scale(1);
}
.heart  {
    transform: scale(1.2);
    color: #E86C6C;
}
.heart  {
    transform: scale(1.4);
    color: #E86C6C;
}
.heart  {
    transform: scale(1);
    color: #E86C6C;
}
.heartHollow  {
    transform: scale(1);
    opacity: 1;
}
.heartHollow  {
    transform: scale(1.4);
    opacity: 0.5;
}
.heartHollow  {
    transform: scale(1.6);
    opacity: 0.25;
}
.heartHollow  {
    transform: scale(2);
    opacity: 0;
    display: none;
}
@keyframes heart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
        color: #E86C6C;
    }
    50% {
        transform: scale(1.4);
        color: #E86C6C;
    }
    100% {
        transform: scale(1);
        color: #E86C6C;
    }
}
@-webkit-keyframes heart {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
        color: #E86C6C;
    }
    50% {
        transform: scale(1.4);
        color: #E86C6C;
    }
    100% {
        transform: scale(1);
        color: #E86C6C;
    }
}
@keyframes heartHollow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(1.4);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.6);
        opacity: 0.25;
    }
    100% {
        transform: scale(2);
        opacity: 0;
        display: none;
    }
}
@-webkit-keyframes heartHollow {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    25% {
        transform: scale(1.4);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.6);
        opacity: 0.25;
    }
    100% {
        transform: scale(2);
        opacity: 0;
        display: none;
    }
}
