@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.wrapper{
    position: absolute;
    top: 30%;
    transform: translateY(50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form{
    display: flex;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(207,216,220,0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(183,28,28,0.3);
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 80%;
}

.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #b71c1c;
    padding: 10px;
    color: #b71c1c;
    width: 100%;
}

.msg textarea{
    height: 212px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b71c1c;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #b71c1c;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #b71c1c;
}

.btn {
    background: #b71c1c;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 1000px;
    }
    .input-fields,
    .msg{
        width: 1500%;
    }
}